<app-loader></app-loader>
<div>
  <div>
    <br>
    <div class="full-width">
      <h1>Gemeinde Mashup</h1>
    </div>
    <div class="full-width">
      <p>Gebe deine Gemeinde und deinen Arbeitsort ein und erfahre mögliche Verkehrsverbindungen, das Wetter in der
        Gemeinde und Schweizer Informationsdaten.</p>
    </div>
    <div class="full-width">
      <mat-card>
        <mat-form-field appearance="fill">
          <mat-label>Gemeinde</mat-label>
          <input matInput [(ngModel)]="municipality">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Arbeitsort</mat-label>
          <input matInput [(ngModel)]="workplace">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" style="float: right" (click)="submit()">Suchen</button>
      </mat-card>
    </div>
  </div>
  <br>
  <div *ngIf="trafficConnections" class="full-width">
    <mat-card class="card-width">
      <h2>Verbindungsmöglichkeiten</h2>
      <app-traffic-connections [trafficConnections]="trafficConnections">
      </app-traffic-connections>
    </mat-card>
  </div>
  <br>
  <div *ngIf="weatherMunicipality" class="full-width">
    <mat-card class="card-width">
      <h2>Wetter in {{municipality}}</h2>
      <app-weather [weather]="weatherMunicipality">
      </app-weather>
    </mat-card>
  </div>
  <br>
  <div *ngIf="weatherWorkplace" class="full-width">
    <mat-card class="card-width">
      <h2>Wetter in {{workplace}}</h2>
      <app-weather [weather]="weatherWorkplace">
      </app-weather>
    </mat-card>
  </div>
  <br>
  <div class="full-width">
    <mat-card class="card-width">
      <h2>Schweizer Informationsdaten</h2>
      <p>Lorem ipsum</p>
    </mat-card>
  </div>
</div>
